:root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-blue: #2067F5;
    --bs-primary: #2067F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.navbar {
    background-color: transparent !important;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover {
    background-color: #ddd;
    color: black;
}